extends layout

block content
  h1= title
  p Welcome to new page called #{title}
  button(type="button", class="btn btn-success", onclick="update()") Press Me
  <br>
  <br>
  
  div(id = "target") Display

  script.
      out = document.getElementById("target");
      var client_count = 0;
      function update(){
        client_count = client_count + 1;
        out.innerHTML = "Value now " + client_count;
      }
